{% liquid 
  for filter in collection.filters
    if filter.type == "price_range"
      if filter.min_value.value > 0 or filter.max_value.value < filter.range_max
        assign active_filter_values = 1 | plus: active_filter_values
      endif
    else
      assign active_filter_values = filter.active_values.size | plus: active_filter_values
    endif
  endfor
%}

<div class="collection-utilities mb-5">
    <p class="collection-product-count small mb-0">
      {{ 'collection.count_products' | t: count: collection.products_count }}
    </p>
    <div class="d-flex align-items-center mx-n2">
        <sort-by class="sort-by dropdown">
          <button 
            class="btn btn-sm px-4 dropdown-toggle mx-2" 
            type="button" 
            data-bs-toggle="dropdown" 
            aria-expanded="false">
            {{ 'collection.sort_by' | t }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for option in collection.sort_options %}
              <li>
                <input 
                  type="radio" 
                  class="btn-check" 
                  name="sort_by" 
                  id="sort-by-{{ option.value }}" 
                  value="{{ option.value }}"
                  {% if option.value == collection.sort_by %}checked{% endif %}>
                <label class="dropdown-item" for="sort-by-{{ option.value }}">
                  {{ option.name }}
                </label>
              </li>
            {% endfor %}
          </ul>
        </sort-by>
    </div>
</div>