<div class="container">
  <div class="mega-content px-4">
    <div class="container-fluid">

{% assign mymenu = mmsettings.for_item | handle %}
{% assign num_cols = mmsettings.num_mega_columns %}
{% assign imgColumn1 = mmsettings.imgColumn1 %}
{% assign txtColumn1 = mmsettings.txtColumn1 %}
{% assign urlColumn1 = mmsettings.urlColumn1 %}

{% for link in linklists[section.settings.main_menu].links %}
  {% if link.handle == mymenu %}
    
    {%- if link.links != blank -%}
      <div class="ws-menu-col ws-menu-col-{{ num_cols }}">
        
        {%- if imgColumn1 != blank -%}
          <div class="ws-break-after text-center mt-1 pb-3">
            <a href="{{ urlColumn1 }}">
              <div class="h6">{{ txtColumn1 }}</div>
              {% render 'image-url' img: imgColumn1, size: 200, orientation: 'square', loading: 'lazy', scale: false, class: "img-fluid img-thumbnail mx-1 my-1"  %}
            </a>
          </div>
        {%- endif -%}
        
        {%- for child_link in link.links -%}
          {%- if child_link.links != blank -%}
            <div class="ws-avoid-break">
              <div class="ws-menu-item ws-menu-item-head">
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                  {{ child_link.title }}
                </a>
              </div>
          
            {%- for grandchild_link in child_link.links -%}
              <div class="ws-menu-item ws-menu-item-child">
                <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                  {{ grandchild_link.title }}
                </a>
              </div>
            {%- endfor -%}
              
            </div>
          {%- else -%}
            <div class="ws-menu-item px-2 fs-6">
              <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>{{ child_link.title }}</a>
            </div>     
          {%- endif -%}

        {%- endfor -%}
      </div>
    {%- endif -%}
    
  {% endif %}
{% endfor %}
          
    </div>
  </div>
</div>