<div class="container">
  <div class="mega-content px-4">
    <div class="container-fluid">


{% assign mymenu = mmsettings.for_item | handle %}

{% for link in linklists[section.settings.main_menu].links %}
  {% if link.handle == mymenu %}
    
    {%- if link.links != blank -%}
      <div class="ws-menu-col-3">
        {%- for child_link in link.links -%}
          {%- if child_link.links != blank -%}
            <div class="ws-menu-item">
              <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                {{ child_link.title }}
              </a>
            </div>
            {%- for grandchild_link in child_link.links -%}
              <div class="ws-menu-item-child">
                <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                  {{ grandchild_link.title }}
                </a>
              </div>
            {%- endfor -%}
          {%- else -%}
            <div class="ws-menu-item">
              <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>{{ child_link.title }}</a>
            </div>     
          {%- endif -%}

        {%- endfor -%}
 
    {%- endif -%}
    
  {% endif %}
{% endfor %}
          
    </div>
  </div>
</div>