{%- assign selected_blocks_megamenu = section.blocks | where: 'type', 'megamenu' -%}
{%- for block in selected_blocks_megamenu -%}
    {% capture items_with_megamenu %}{{ block.settings.for_item | handle }}||{{ items_with_megamenu }}{% endcapture %}
{%- endfor -%}
{%- assign items_with_megamenu = items_with_megamenu | split: '||' -%}

<ul class="nav me-auto">
  {% for link in linklists[section.settings.main_menu].links %}

    <li class="nav-item 
      {% if link.links %}dropdown{% endif %}
      {% if items_with_megamenu contains link.handle %}has-megamenu{% endif %}
      ">
      
      {% # SINGLE ITEM MENU LEVEL %}
      {% if link.links == blank %}
        {% if link.handle == 'home' %}
          <a class="nav-link {% if link.active %}active{% endif %}" href="{{ link.url }}" aria-current="{% if link.active %}page{% endif %}">
            <i class="menu__item_icon mr-10"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-155" xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
  <path d="M280.4 148.3L96 300.1V464a16 16 0 0 0 16 16l112.1-.3a16 16 0 0 0 15.9-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.6a16 16 0 0 0 16 16.1L464 480a16 16 0 0 0 16-16V300L295.7 148.3a12.2 12.2 0 0 0 -15.3 0zM571.6 251.5L488 182.6V44.1a12 12 0 0 0 -12-12h-56a12 12 0 0 0 -12 12v72.6L318.5 43a48 48 0 0 0 -61 0L4.3 251.5a12 12 0 0 0 -1.6 16.9l25.5 31A12 12 0 0 0 45.2 301l235.2-193.7a12.2 12.2 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0 -1.7-16.9z"></path>
  
</svg>
</i> {{ link.title }}
          </a>
        {% else %}
            <a class="nav-link {% if link.active %}active{% endif %}" href="{{ link.url }}" aria-current="{% if link.active %}page{% endif %}">
              {{ link.title }}
            </a>
          {% endif %}
      {% else %}

        <a 
          class="nav-link dropdown-toggle {% if link.child_active %}active{% endif %}" 
          href="#"
          data-bs-toggle="dropdown" 
          data-bs-display="static"
          aria-expanded="false"
          role="button">
          {{ link.title }}
        </a>
          
        {%- assign megamenu_index = 0 -%}
        {% if items_with_megamenu contains link.handle %}
          {% ### MEGA MENU %}
          {%- for block in section.blocks offset: megamenu_index -%}
              {%- if block.type =='megamenu' -%}
                  {%- assign for_item_handle = block.settings.for_item | handle -%}
                  {%- if for_item_handle == link.handle -%}
                      {%- assign megamenu_settings = block.settings -%}
                      {%- assign megamenu_index = forloop.index | plus: megamenu_index -%}
                      {%- break -%}
                  {%- endif -%}
              {%- endif -%}
          {%- endfor -%}
          <div class="dropdown-menu megamenu" role="menu">
              {% render 'megamenu' with megamenu_settings as mmsettings %}
          </div>
              
        {% else %}
          
          {% ### NORMAL DROPDOWN %}
		  
        <ul class="dropdown-menu">
          {% for child_link in link.links %}
            <li>
              {% if child_link.title == '-' %}
                <hr class="dropdown-divider">
              {% else %}
                <a 
                  class="dropdown-item {% if child_link.active %}active{% endif %}" 
                  href="{{ child_link.url }}"
                  aria-current="{% if child_link.active %}page{% endif %}">
                  {{ child_link.title }}
                </a>
              {% endif %}
            </li>
          {% endfor %} 
        </ul>
		
        {% endif %}

      {% endif %}
    </li>
  {% endfor %}
</ul>