<section 
  id="announcement-bar-{{ section.id }}" 
  class="
    announcement-bar 
    bg-primary
    border-none
    {{ section.settings.text_color }}
    {{ section.settings.letter_spacing | prepend: 'ls-' }} 
  ">
  <div class="container">
    <div 
      id="carousel-{{ section.id }}" 
      class="carousel slide " 
      data-bs-ride="{% if section.settings.carousel_autoplay > 0 %}carousel{% else %}false{% endif %}"
      data-bs-interval="{{ section.settings.carousel_autoplay | times: 1000 }}"
      aria-label="{{ 'general.accessibility.announcements' | t }}"
      style="max-width: {{ section.settings.container_max_width }}px;">
      <div class="carousel-inner">
        {% for block in section.blocks %}
          <div 
            class="
              carousel-item 
              pt-2
              pb-2
              {% if forloop.first %}active{% endif %}
            " 
            data-index="{{ forloop.index0 }}" 
            {{ block.shopify_attributes }}>
            <div class="description rte lh-sm">
              {{ block.settings.announcement }}
            </div>
          </div>
        {% endfor %}
      </div>
      {% if section.blocks.size > 1 %}
        <button 
          class="carousel-control carousel-control-prev" 
          type="button" 
          data-bs-target="#carousel-{{ section.id }}" 
          data-bs-slide="prev"
          aria-label="{{ 'general.accessibility.previous' | t }}">
          {% render 'svg-icons', icon: 'chevron-left', size: 22 %}
        </button>
        <button 
          class="carousel-control carousel-control-next" 
          type="button" 
          data-bs-target="#carousel-{{ section.id }}" 
          data-bs-slide="next"
          aria-label="{{ 'general.accessibility.next' | t }}">
          {% render 'svg-icons', icon: 'chevron-right', size: 22 %}
        </button>
      {% endif %}
    </div>
  </div>
</section>

{% if request.design_mode %}
  <script>
    document.addEventListener('shopify:block:select', (event) => {
      const carousel = event.target.closest('#carousel-{{ section.id }}')
    
      if (carousel) {
        bootstrap.Carousel.getOrCreateInstance(carousel, { ride: false })
          .to(event.target.dataset.index)
      }
    })
  </script>
{% endif %}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-light",
      "options": [
        { "value": "text-primary", "label": "Primary" },
        { "value": "text-secondary", "label": "Secondary" },
        { "value": "text-light", "label": "Light" },
        { "value": "text-dark", "label": "Dark" }
      ]
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "range",
      "id": "letter_spacing",
      "label": "Letter spacing",
      "default": 0,
      "min": 0,
      "max": 5
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "range",
      "id": "carousel_autoplay",
      "label": "Autoplay",
      "min": 0,
      "max": 10,
      "default": 5,
      "unit": "sec",
      "info": "Selecing \"0\" will disable autoplay."
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "announcement",
          "label": "Announcement",
          "default": "Announce something important here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement bar",
      "blocks": [
        {
          "type": "slide",
          "settings": {
            "announcement": "Announce something important here"
          }
        },
        {
          "type": "slide",
          "settings": {
            "announcement": "Free shipping over $100 USD"
          }
        }
      ]
    }
  ]
}
{% endschema %}