<header 
  id="collection-header-{{ section.id }}"
  class="
    collection-header
    {{ section.settings.bg_color }} 
    {{ section.settings.bg_gradient }}
    {{ section.settings.text_color }}
    {{ section.settings.pt | prepend: 'pt-' }} 
    {{ section.settings.pb | prepend: 'pb-' }}
    {{ section.settings.pt_desktop | prepend: 'pt-lg-' }} 
    {{ section.settings.pb_desktop | prepend: 'pb-lg-' }}
  "
  style="
    --bs-bg-opacity: {{ section.settings.bg_opacity | append: '%' }};
  ">

  
  <div class="container">
    <h2 class=" ext-center text-lg-left {{ section.settings.title_font_size }}">
      <span>{{ collection.title }}</span>
    </h2>
  {% if section.settings.img_show and collection.image != nil %}
		<p><img
        src="{{ collection.image | image_url: width: 1600 }}"
        class="img-fluid"
        width="100%"
        alt="{{ collection.image.alt }}"
        loading="eager"></p>
  {% endif %}    
    {% if section.settings.description_show and collection.description != blank %}
      <div class="description rte mb-0 {{ section.settings.description_font_size }}">
        {{ collection.description }}
      </div>
    {% endif %}
  </div>
</header>

{% schema %}
{
  "name": "Collection header",
  "settings": [

    {
      "type": "header",
      "content": "Collection image"
    },
    {
      "type": "checkbox",
      "id": "img_show",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "description_show",
      "label": "Show collection description",
      "default": true
    }
  ],
  "templates": ["collection"],
  "presets": [
    {
      "name": "Collection header"
    }
  ]
}
{% endschema %}