<header 
  id="collection-header-{{ section.id }}"
  class="
    collection-header
    {{ section.settings.bg_color }} 
    {{ section.settings.bg_gradient }}
    {{ section.settings.text_color }}
    {{ section.settings.pt | prepend: 'pt-' }} 
    {{ section.settings.pb | prepend: 'pb-' }}
    {{ section.settings.pt_desktop | prepend: 'pt-lg-' }} 
    {{ section.settings.pb_desktop | prepend: 'pb-lg-' }}
  "
  style="
    --bs-bg-opacity: {{ section.settings.bg_opacity | append: '%' }};
  ">

  
  <div class="container">
    <h2 class="{{ section.settings.title_font_size }}">
      <span>{{ collection.title }}</span>
    </h2>
  {% if section.settings.img_show and collection.image != nil %}
		<p><img
        src="{{ collection.image | image_url: width: 1600 }}"
        class="img-fluid"
        alt="{{ collection.image.alt }}"
        loading="eager"></p>
  {% endif %}    
    {% if section.settings.description_show and collection.description != blank %}
      <div class="description rte mb-0 {{ section.settings.description_font_size }}">
        {{ collection.description }}
      </div>
    {% endif %}
  </div>
</header>

{% schema %}
{
  "name": "Collection header",
  "settings": [
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "body-bg",
      "options": [
        { "value": "bg-primary", "label": "Primary" },
        { "value": "bg-secondary", "label": "Secondary" },
        { "value": "body-bg", "label": "Body BG" },
        { "value": "body-bg-alt", "label": "Body BG - Alt" }
      ]
    },
    {
      "type": "range",
      "id": "bg_opacity",
      "label": "Background opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "bg_gradient",
      "label": "Background gradient",
      "options": [
        { "value": "bg-gradient", "label": "Yes" },
        { "value": "", "label": "No" }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "body-fg",
      "options": [
        { "value": "text-primary", "label": "Primary" },
        { "value": "text-secondary", "label": "Secondary" },
        { "value": "body-fg", "label": "Body Foreground" },
        { "value": "body-fg-alt", "label": "Body Foreground Alt" }
      ]
    },
    {
      "type": "header",
      "content": "Collection image"
    },
    {
      "type": "checkbox",
      "id": "img_show",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "title_font_size",
      "label": "Title font-size",
      "default": "h2",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ]
    },
    {
      "type": "checkbox",
      "id": "description_show",
      "label": "Show collection description",
      "default": true
    },
    {
      "type": "select",
      "id": "description_font_size",
      "label": "Description font-size",
      "default": "fs-md",
      "options": [
        { "value": "fs-sm", "label": "sm" },
        { "value": "fs-md", "label": "md" },
        { "value": "fs-lg", "label": "lg" },
        { "value": "fs-xs", "label": "xs" },
        { "value": "fs-xxl", "label": "xxl" }
      ]
    },
    {
      "type": "header",
      "content": "Spacing - mobile"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 2
    },
    {
      "type": "header",
      "content": "Spacing - desktop"
    },
    {
      "type": "range",
      "id": "pt_desktop",
      "label": "Top",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "pb_desktop",
      "label": "Bottom",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 2
    }
  ],
  "templates": ["collection"],
  "presets": [
    {
      "name": "Collection header"
    }
  ]
}
{% endschema %}