<section id="collection-section-{{ collection.id }}" class="collection-section pt-5">
  <div class="container">
    <div class="row">
          
      <div class="collection-sidebar col-lg-3">
        <p><strong>What's Your Whee!?</strong></p>
        <p class="h4">Find EXACTLY What You Are Looking For</p>
        <p>Choose your flag and then choose a product to narrow down your options.</p>	
        <hr>
{% render 'collection-filters' %}
      </div>
    
      <div class="collection-content col-lg-9">
              
        <header id="collection-header-{{ section.id }}" class="collection-header">
          <div class="container">
          {% if section.settings.img_show and collection.image != nil %}            
            <div class="card mb-3 border-0">
              <div class="row g-0">
                <div class="col-md-4">
            		<img
                    src="{{ collection.image | image_url: width: 500 }}"
                    class="img-fluid rounded float-start"
                    width="250" width="250"
                    alt="{{ collection.image.alt }}"
                    loading="eager">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h2 class="card-title h4 text-center text-lg-start"><span>{{ collection.title }}</span></h2>
                        {% if section.settings.description_show and collection.description != blank %}
                          <div class="card-text section-description rte mb-0">
                            {{ collection.description }}
                          </div>
                        {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <h2 class="text-center text-lg-start h4">
              <span>{{ collection.title }}</span>
            </h2> 
            {% if section.settings.description_show and collection.description != blank %}
              <div class="description rte mb-0">
                {{ collection.description }}
              </div>
            {% endif %}
          {% endif %}  

          </div>
        </header>
			
{% paginate collection.products by 48 %}
  {% if collection.products.size == 0 %}
    <p class="alert alert-primary">
      {{ 'collection.empty_html' | t }}
    </p>
  {% else %}
    {% render 'collection-utilities' %}
    <div class="product-list row row-cols-2 row-cols-md-3 row-cols-lg-4" role="list">
      {% for product in collection.products %}
        <div class="p-4 p-lg-2 mb-4 mb-lg-1" role="list-item">
          {% render 'product-card', product: product %}
        </div>
      {% endfor %}
    </div>
    <collection-pagination class="collection-pagination"> 
      {% render 'pagination', paginate: paginate %}
    </collection-pagination>
  {% endif %}
{% endpaginate %}
			</div>
		</div>
  </div>
</section>


{% schema %}
  {
    "name": "Collection Page",
    "settings": [
      {
        "type": "header",
        "content": "Collection Image"
      },
      {
        "type": "checkbox",
        "id": "img_show",
        "label": "Show Collection Image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "description_show",
        "label": "Show Collection Description",
        "default": true
      }
    ],
    "templates": ["collection"],
    "presets": [
      {
        "name": "Collection Default"
      }
    ]
  }
{% endschema %}