<footer id="footer"
  class="bg-dark text-light
    {{ section.settings.bg_gradient }}
    {{ section.settings.border_top_width | prepend: 'border-top-' }}
    {{ section.settings.border_bottom_width | prepend: 'border-bottom-' }}
    {{ section.settings.border_color }} 
    {{ section.settings.pt | prepend: 'pt-' }} 
    {{ section.settings.pb | prepend: 'pb-' }}
  "
>
  <div class="container">
    <div id="footer-menu" class="{{ section.settings.bg_gradient }}">
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-4">
          <a href="https://wheestudios.com"><img src="https://cdn.shopify.com/s/files/1/0638/3589/8093/files/whee-studios-footer-logo.png?v=1702940203" alt="Patrick Hiller - Whee! Studios" class="img-fluid"></a>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
    </div>

    <div id="footer-copyright" class="mt-3">
      <div class="row">
        <div class="col-lg-7 align-top">
          <div class="row">
            <div class="col-lg-2">
              <a href="{{ routes.root_url }}" class="mb-3">
                <img class="img-fluid"
                src="{{ section.settings.logo_lt | image_url: height: 160 }}" alt="{{ shop.name }}"
                width="{{ 80 | times: settings.logo.aspect_ratio | round }}" height="60" loading="lazy">
              </a>  
            </div>
            <div class="col-lg-10">
              <div class="">
                <small>Copyright &copy; {{ 'now' | date: '%Y' }}, Patrick Hiller, Whee! Studios, and Whee! Design&reg; - All Rights Reserved<br>
                Whee! Design is a registered trademark of Patrick Hiller.</small>
              </div>
            </div>
          </div>
          <div class="social-icons-wrapper text-center text-desktop-start mb-5 mb-desktop-0">
            {% render 'social-icons', icon_size: 18, show_title: false %}
          </div>
        </div>
        <div class="col-lg-5 align-top">
            <div class="payment-icons-wrapper text-center">
              {% render 'payment-icons' %}
            </div>         
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_lt",
      "label": "Logo (Light Version)"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "select",
      "id": "bg_gradient",
      "label": "Background gradient",
      "options": [
        { "value": "bg-gradient", "label": "Yes" },
        { "value": "", "label": "No" }
      ],
      "default": ""
    },
    {
      "type": "range",
      "id": "border_top_width",
      "label": "Border top width",
      "default": 0,
      "min": 0,
      "max": 16,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "border_color",
      "label": "Border color",
      "default": "border-body",
      "options": [
        { "value": "border-primary", "label": "Primary" },
        { "value": "border-secondary", "label": "Secondary" },
        { "value": "border-body", "label": "Body" },
        { "value": "border-white", "label": "White" }
      ]
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    },
    {
      "type": "link_list",
      "id": "footer_menu_1",
      "label": "Menu 1",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "footer_menu_2",
      "label": "Menu 2"
    }
  ],
  "blocks": [
    {
      "type": "richtext",
      "name": "Richtext",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Block Title"
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ],
          "default": "fs-lg",
          "info": "Only on desktop"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Some description for this block</p>"
        },
        {
          "type": "header",
          "content": "Buttons"
        },
        {
          "type": "text",
          "id": "btn_primary_text",
          "label": "Primary button text",
          "info": "Leave empty to disable"
        },
        {
          "type": "url",
          "id": "btn_primary_url",
          "label": "Primary button URL"
        },
        {
          "type": "select",
          "id": "btn_primary_color",
          "label": "Primary button color",
          "default": "btn-primary",
          "options": [
            { "group": "Solid", "value": "btn-primary", "label": "Primary" },
            { "group": "Solid", "value": "btn-secondary", "label": "Secondary" },
            { "group": "Solid", "value": "btn-white", "label": "White" },
            { "group": "Light", "value": "btn-light-primary", "label": "Primary" },
            { "group": "Light", "value": "btn-light-secondary", "label": "Secondary" },
            { "group": "Light", "value": "btn-light-white", "label": "White" },
            { "group": "Outline", "value": "btn-outline-primary", "label": "Primary" },
            { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary" },
            { "group": "Outline", "value": "btn-outline-white", "label": "White" }
          ]
        },
        {
          "type": "text",
          "id": "btn_secondary_text",
          "label": "Secondary button text",
          "info": "Leave empty to disable"
        },
        {
          "type": "url",
          "id": "btn_secondary_url",
          "label": "Secondary button URL"
        },
        {
          "type": "select",
          "id": "btn_secondary_color",
          "label": "Secondary button color",
          "default": "btn-secondary",
          "options": [
            { "group": "Solid", "value": "btn-primary", "label": "Primary" },
            { "group": "Solid", "value": "btn-secondary", "label": "Secondary" },
            { "group": "Solid", "value": "btn-white", "label": "White" },
            { "group": "Light", "value": "btn-light-primary", "label": "Primary" },
            { "group": "Light", "value": "btn-light-secondary", "label": "Secondary" },
            { "group": "Light", "value": "btn-light-white", "label": "White" },
            { "group": "Outline", "value": "btn-outline-primary", "label": "Primary" },
            { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary" },
            { "group": "Outline", "value": "btn-outline-white", "label": "White" }
          ]
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ],
          "default": "fs-lg",
          "info": "Only on desktop"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Block Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
