
{%- if section.blocks.size > 0 -%}
    <div data-section-id="{{ section.id }}" data-section-type="information-line" class="py-2 bg-dark-subtle">
        {%- if section.settings.title != blank -%}
            <h2 class="h4 information-line-title home-section-title mb-30 text-center">{{ section.settings.title }}</h2>
        {%- endif -%}
        <div class="information-line information-line--type-{{ section.settings.type }} information-line--style-{{ section.settings.style }}">
            <div class="container">
                <div class="row py-{{ information_line_padding_v }}">
                    {%- for block in section.blocks -%}
                        <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="col-12 col-lg-{{ 12 | divided_by: section.blocks.size }}">
                          <div class="d-flex align-items-start justify-content-start py-10">{{ block.settings.icon }}
                              <i class="mr-15 text-primary">{% include 'load-icon' with name: block.settings.icon %}</i>
                              <div>
                                  {%- if block.settings.title != blank -%}
                                      <h5 class="text-primary mb-0">{{ block.settings.title }}</h5>
                                  {%- endif -%}
                                  {%- if block.settings.paragraph != blank -%}
                                      <p class="d-inline">{{ block.settings.paragraph }}</p>
                                  {%- endif -%}
                              </div>
                          </div>
                        </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
{%- else -%}
    {% render 'no-blocks' %}
{%- endif -%}


{% schema %}
{
    "name": "Information Line",
    "settings": [
        {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        }
    ],
    "blocks": [
        {
            "type": "content",
            "name": "Info Line Item",
            "limit": 4,
            "settings": [
                {
                    "type": "text",
                    "id": "icon",
                    "label": "Icon",
                    "default": "shippingbox"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title text."
                },
                {
                    "type": "text",
                    "id": "paragraph",
                    "label": "Text",
                    "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa error iste provident."
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Information line",
            "category": "3) Static content",
            "blocks": [
                {
                    "type": "content",
                    "settings": {
                        "icon": "shippingbox",
                        "title": "Free Shipping.",
                        "paragraph": "All orders in the United States qualify for FREE SHIPPING."
                    }
                },
                {
                    "type": "content",
                    "settings": {
                        "icon": "creditcard",
                        "title": "Payment Methods.",
                        "paragraph": "Visa, Mastercard, American Express, Discover, Diners Club, Shop Pay, Apple Pay, Google Pay, Facebook Pay"
                    }
                },
                {
                    "type": "content",
                    "settings": {
                        "icon": "ribbon",
                        "title": "Quality Guarantee.",
                        "paragraph": "We pride ourselves in quality products. If there are any issues with your order, we'll make it right!"
                    }
                }
            ]
        }
    ]
}
{% endschema %}