{%- assign selected_blocks_megamenu = section.blocks | where: 'type', 'megamenu' -%}
{%- for block in selected_blocks_megamenu -%}
    {% capture items_with_megamenu %}{{ block.settings.for_item | handle }}||{{ items_with_megamenu }}{% endcapture %}
{%- endfor -%}
{%- assign items_with_megamenu = items_with_megamenu | split: '||' -%}

   <header class="py-0 mb-0 border-bottom ws-nav-background">
    <div class="container container-fluid">
      <a href="{{ routes.root_url }}" class="mb-3">
				<img class="img-fluid navbar-logo-default"
				src="{{ settings.logo | image_url: height: 160 }}" alt="{{ shop.name }}"
				width="{{ 80 | times: settings.logo.aspect_ratio | round }}" height="80" loading="lazy">
      </a>
    </div>
  </header>
  
  <nav class="py-0 mb-1 navbar navbar-expand-lg bg-gradient bg-dark text-light">
    <div class="container">
	
 	  <button class="navbar-toggler text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#wsMainNav" aria-controls="wsMainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>  

      <div class="collapse navbar-collapse" id="wsMainNav">
		<ul class="navbar-nav me-auto text-light">
		  {% for link in linklists[section.settings.main_menu].links %}

			<li class="nav-item text-light 
			  {% if link.links %}dropdown{% endif %}
			  {% if items_with_megamenu contains link.handle %}has-megamenu{% endif %}
			  ">
			  
			  {% # SINGLE ITEM MENU LEVEL %}
			  {% if link.links == blank %}
				<a class="nav-link {% if link.active %}active{% endif %}" href="{{ link.url }}" aria-current="{% if link.active %}page{% endif %}">
				  {{ link.title }}
				</a>
			  {% else %}

				<a 
				  class="nav-link dropdown-toggle {% if link.child_active %}active{% endif %}" 
				  href="#"
				  data-bs-toggle="dropdown" 
				  data-bs-display="static"
				  aria-expanded="false"
				  role="button">
				  {{ link.title }}
				</a>
				  
				{%- assign megamenu_index = 0 -%}
				{% if items_with_megamenu contains link.handle %}
				  {% ### MEGA MENU %}
				  {%- for block in section.blocks offset: megamenu_index -%}
					  {%- if block.type =='megamenu' -%}
						  {%- assign for_item_handle = block.settings.for_item | handle -%}
						  {%- if for_item_handle == link.handle -%}
							  {%- assign megamenu_settings = block.settings -%}
							  {%- assign megamenu_index = forloop.index | plus: megamenu_index -%}
							  {%- break -%}
						  {%- endif -%}
					  {%- endif -%}
				  {%- endfor -%}
				  <div class="dropdown-menu megamenu" role="menu">
					  {% render 'megamenu' with megamenu_settings as mmsettings %}
				  </div>
					  
				{% else %}
				  
				  {% ### NORMAL DROPDOWN %}
				  
				<ul class="dropdown-menu">
				  {% for child_link in link.links %}
					<li>
					  {% if child_link.title == '-' %}
						<hr class="dropdown-divider">
					  {% else %}
						<a 
						  class="dropdown-item {% if child_link.active %}active{% endif %}" 
						  href="{{ child_link.url }}"
						  aria-current="{% if child_link.active %}page{% endif %}">
						  {{ child_link.title }}
						</a>
					  {% endif %}
					</li>
				  {% endfor %} 
				</ul>
				
				{% endif %}

			  {% endif %}
			</li>
		  {% endfor %}
		</ul>
      </div>
    </div>
  </nav> 
  
  

{% schema %}
{
  "name": "Navbar",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "range",
          "id": "logo_height",
          "label": "Logo height",
          "min": 20,
          "max": 100,
          "step": 2,
          "default": 100
        },
        {
          "type": "link_list",
          "id": "main_menu",
          "label": "Main menu",
          "default": "main-menu"
        }
      ],
      "blocks": [
        {
            "type": "megamenu",
            "name": "Mega Menu",
            "settings": [
                {
                    "type": "header",
                    "content": "General"
                },       
                {
                    "type": "text",
                    "id": "for_item",
                    "label": "For Item"
                },
                {
                  "type": "range",
                  "id": "num_mega_columns",
                  "label": "Number of Columns",
                  "min": 1,
                  "max": 6,
                  "step": 1,
                  "default": 4
                }
            ]
        }
      ]
}
{% endschema %}