<div
  id="newsletter-{{ section.id }}" 
  class="newsletter bg-whee-900 text-light {{ section.settings.bg_gradient }}" style="border-top: 1px solid {{  ws-white }}">
  <div class="container pt-3">
    <div class="row">
      <div class="col-lg-6">
        {% render 'section-header', class: 'wsNewletter' %}
      </div>
      <div class="col-lg-6">
        {% form 'customer', class: 'newsletter-form' %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p class="alert alert-success">
              {{ 'general.newsletter.confirmation_text' | t }}
            </p>
          {% endif %}
          <div class="form-floating mt-n3">
            <div class="form-floating-icon">
              {% render 'svg-icons', icon: 'mail' %}
            </div>
            <input 
              id="newsletter-input-email"
              type="email" 
              name="contact[email]" 
              size="30"
              class="form-control" 
              value="{% if customer.email != blank %}{{ customer.email }}{% endif %}" 
              placeholder="{{ 'general.newsletter.input_label' | t }}"
              autocorrect="off" 
              autocapitalize="off">
            <label for="newsletter-input-email">
              {{ 'general.newsletter.input_label' | t }}
            </label>
            <button 
              class="btn {{ section.settings.btn_color }} {{ section.settings.btn_size }}" 
              type="submit" 
              name="commit"
              aria-label="{{ 'general.newsletter.submit_button' | t }}">
              <svg width="22" height="22" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M28,61 C28,161.710136 28,212.065204 28,212.065204 C28,212.065204 351.044692,255.885938 351.044692,255.885938 C351.044692,255.885938 243.363128,270.4319 28,299.523824 L28,451 L483.555218,256 L28,61 Z" fill="currentColor"></path>
                </g>
              </svg>
            </button>
          </div>
          {% unless section.settings.notice == blank %}
            <div class="newsletter-notice rte mt-1 lh-sm small text-center fst-italic fg-gray-300">
              <small class="nlink">
              {{ section.settings.notice }}
              </small>
            </div>
          {% endunless %}
        {% endform %}
      </div>
    </div>
    


  </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "select",
      "id": "bg_gradient",
      "label": "Background gradient",
      "options": [
        { "value": "bg-gradient", "label": "Yes" },
        { "value": "", "label": "No" }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Header"
    },

    {
      "type": "text",
      "id": "header_title",
      "label": "Title",
      "default": "Newsletter Signup"
    },
    {
      "type": "select",
      "id": "header_title_font_size",
      "label": "Title font-size",
      "default": "h2",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ]
    },
    {
      "type": "richtext",
      "id": "header_description",
      "label": "Description (optional)",
      "default": "<p>Get 10% off your first order and be the first to hear about our exclusive offers and latest arrivals.</p>"
    },
    {
      "type": "select",
      "id": "header_description_font_size",
      "label": "Description font-size",
      "default": "fs-md",
      "options": [
        { "value": "fs-sm", "label": "sm" },
        { "value": "fs-md", "label": "md" },
        { "value": "fs-lg", "label": "lg" },
        { "value": "fs-xl", "label": "xl" },
        { "value": "fs-xxl", "label": "xxl" }
      ]
    },
    {
      "type": "header",
      "content": "Newsletter form"
    },
    {
      "type": "select",
      "id": "btn_color",
      "label": "Button color",
      "default": "btn-primary",
      "options": [
        { "group": "Solid", "value": "btn-primary", "label": "Primary" },
        { "group": "Solid", "value": "btn-secondary", "label": "Secondary" },
        { "group": "Solid", "value": "btn-white", "label": "White" },
        { "group": "Light", "value": "btn-light-primary", "label": "Primary" },
        { "group": "Light", "value": "btn-light-secondary", "label": "Secondary" },
        { "group": "Light", "value": "btn-light-white", "label": "White" },
        { "group": "Outline", "value": "btn-outline-primary", "label": "Primary" },
        { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary" },
        { "group": "Outline", "value": "btn-outline-white", "label": "White" }
      ]
    },
    {
      "type": "select",
      "id": "btn_size",
      "label": "Button size",
      "default": "",
      "options": [
        { "value": "btn-sm", "label": "Small" },
        { "value": "", "label": "Medium" },
        { "value": "btn-lg", "label": "Large" }
      ]
    },
    {
      "type": "richtext",
      "id": "notice",
      "label": "Notice text",
      "default": "<p>By signing up for email, you agree to our <a href=\"/policies/terms-of-service\">Terms of Service</a> and <a href=\"/policies/privacy-policy\">Privacy Policy</a>.</p>"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 2
    }
  ],
  "presets": [
    {
      "name": "Newsletter"
    }
  ]
}
{% endschema %}