<div 
  id="separator-wrapper-{{ section.id }}" 
  class="separator-wrapper 
    {{ section.settings.pt | prepend: 'pt-' }} 
    {{ section.settings.pb | prepend: 'pb-' }}
  ">
  <div 
    class="{{ section.settings.container }}">
    <hr class="separator border my-0 border-{{ section.settings.height }} border-{{ section.settings.border_color }}" style="-bs-text-opacity: {{ section.settings.opacity }}">
  </div>
</div>

{% schema %}
{
"name": "Separator",
"settings": [
  {
    "type": "header",
    "content": "Styling"
  },
  {
    "type": "select",
    "id": "border_color",
    "label": "Border color",
    "default": "primary",
    "options": [
      { "value": "primary", "label": "Primary" },
      { "value": "secondary", "label": "Secondary" },
      { "value": "fg", "label": "Body FG" },
      { "value": "fg-alt", "label": "Body FG Alt" }
    ]
  },
  {
    "type": "range",
    "id": "opacity",
    "label": "Background opacity",
    "min": 0,
    "max": 1,
    "step": 0.1,
    "default": 0.5
  },
  {
    "type": "range",
    "id": "height",
    "label": "Height",
    "min": 0,
    "max": 16,
    "default": 1,
    "step": 1,
    "unit": "px"
  },
  {
    "type": "header",
    "content": "General"
  },
  {
    "type": "select",
    "id": "container",
    "label": "Container",
    "default": "container",
    "options": [
      { "value": "container", "label": "Yes" },
      { "value": "", "label": "No" }
    ]
  },
  {
    "type": "header",
    "content": "Spacing"
  },
  {
    "type": "range",
    "id": "pt",
    "label": "Top",
    "min": 0,
    "max": 5,
    "step": 1,
    "default": 2
  },
  {
    "type": "range",
    "id": "pb",
    "label": "Bottom",
    "min": 0,
    "max": 5,
    "step": 1,
    "default": 2
  }
],
"presets": [
  {
    "name": "Separator"
  }
]
}
{% endschema %}